# Terraform Provider testing workflow.
name: Tests

on:
  push:
    branches:
      - 'main'
      - 'releases/**'
    paths-ignore:
      - 'README.md'

permissions:
  contents: read
  id-token: write

jobs:
  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.5.*'
          - '1.6.*'
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: chainguard-dev/actions/setup-chainctl@main
        with:
          identity: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7/72b16b9edc62a069"
      - uses: hashicorp/setup-terraform@97f030cf6dc0b4f5e0da352c7bca9cca34579800 # v3.1.0
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download
      - env:
          TF_ACC: "1"
          TF_ACC_GROUP_ID: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7"
          TF_CHAINGUARD_IDENTITY: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7/72b16b9edc62a069"
          TF_ACC_CONSOLE_API: "https://console-api.enforce.dev"
          TF_ACC_AUDIENCE: "https://console-api.enforce.dev"
          TF_ACC_ISSUER: "https://issuer.enforce.dev"
          TF_ACC_AMBIENT: "1"
        run: go test -v -cover ./internal/...
        timeout-minutes: 10
