# Terraform Provider testing workflow.
name: Acceptance Tests

on:
  push:
    branches:
      - "main"
      - "releases/**"
    paths-ignore:
      - "README.md"
  pull_request_target:
    # We need real github credentials. This is fine because we are testing on an sample test org.
    branches:
      - "main"
    paths-ignore:
      - "README.md"

permissions: {}

jobs:
  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Terraform Provider Acceptance Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      contents: read
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - "1.11.*"
          - "1.12.*"
          - "1.13.*"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - uses: chainguard-dev/setup-chainctl@be0acd273acf04bfdf91f51198327e719f6af978 # v0.4.0
        with:
          identity: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7/72b16b9edc62a069"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - run: go mod download
      - env:
          TF_ACC: "1"
          TF_ACC_GROUP_ID: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7"
          TF_CHAINGUARD_IDENTITY: "ef127a7c0909329f04b43d845cf80eea4247a07b/66305475446bbef6/51be6000f74f6cb7/72b16b9edc62a069"
          TF_ACC_CONSOLE_API: "https://console-api.enforce.dev"
          TF_ACC_AUDIENCE: "https://console-api.enforce.dev"
          TF_ACC_ISSUER: "https://issuer.enforce.dev"
          TF_ACC_AMBIENT: "1"
        run: go test -v -cover ./internal/...
        timeout-minutes: 10
